@import "~antd/dist/antd.css";

.logo {
    background: rgb(255, 255, 255);
    margin: 16px;
    padding-left: 20%;
}

.headerMenuItem {
    float: right !important;
}

.loginFormItem {
    margin-left: 30%;
}

.singleTable {
    margin: 10px;
    background-color: red;
}

.reservedTable .ant-card-head {
    background-color: #52c41a;
}
.arrivedTable .ant-card-head {
    background-color: #1890ff;
}

.reserveLate .ant-card-head {
    background-color: #52c41a;
}
