@import "~antd/dist/antd.css";

.logo {
  background: rgb(255, 255, 255);
  margin: 16px;
  padding-left: 20%;
}

.add-content {
  margin: 24px 16px 0;
  background-color: white;
}

.headerMenuItem {
  float: right !important;
}

.loginFormItem {
  margin-left: 30%;
}

.ant-card-head{
  height: 20px;
  text-align: center;  
}

.ant-card-body {
  text-align: center;
  padding: 12px !important;
}
.ant-card-body .ant-tag-text {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.singleTable .ant-card-head{
  text-align: center;
}

.reservedTable .ant-card-head {
  background-color: #52c41a;
}
.arrivedTable .ant-card-head {
  background-color: #1890ff;
}

.reserveLate .ant-card-head {
  background-color: #df1022;
}
.tableOpen .ant-card-head {
  background-color: #fa8c16;
}
